body{
    background:  linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('https://prod-weddingz-partner-images.s3.amazonaws.com/photologue/images/small-birthday-party-places-in-bangalore.jpg');
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    height: 915px;
    word-wrap: 100%;
}
h4{
    color: white;
}
th{
    color: whitesmoke;
}
.card {
    overflow: hidden;
}
.card img:hover{
    transform: scale(1.2,1.2);
    transition: 1s ease-in-out;

}